<head>
<%- include('../partials/links') %>
<%- include('../partials/nav') %>
</head>
<body>
    <header class="header" id="inicio">
        <div class="contenedor head">
            <h1 class="title">la mejor tienda on-line</h1>
            <p class="copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error deserunt reprehenderit quia nesciunt! Eligendi exercitationem minima maiores, incidunt, rem nisi amet, voluptates.</p>
        </div>
    </header>
</body>
<footer> <%- include('../partials/footer') %></footer>    



