<head>
    <%- include('../partials/links') %>
    <%- include('../partials/nav') %>
</head>

<body>
<section class="contenedor" id="servicio">
    <h2 class="subtitulo">Nuestros servicios</h2>
 <div class="contenedor-servicio">
        <img src="/img/fond1.jpg" alt="">
    <div class="checklist-servicio">
          <div class="service">    
                <h3 class="n-service"><span class="number">1</span>Servicio de venta de los mejores relojes del mundo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni amet eaque quas culpa ut reiciendis numquam voluptate veritatis aperiam odit.</p>
          </div>
          <div class="service">    
                  <h3 class="n-service"><span class="number">2</span>Garantia de seguridad y discrecion</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni amet eaque quas culpa ut reiciendis numquam voluptate veritatis aperiam odit.</p>
          </div> 
          <div class="service">    
                  <h3 class="n-service"><span class="number">3</span>Servicio de mantenimiento</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni amet eaque quas culpa ut reiciendis numquam voluptate veritatis aperiam odit.</p>
          </div>     
          <div class="service">    
            <h3 class="n-service"><span class="number">4</span>Tomamos su reloj usado al mejor precio</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni amet eaque quas culpa ut reiciendis numquam voluptate veritatis aperiam odit.</p>
         </div>     
   </div>
</div>
</section>
</body>

<footer><%- include('../partials/footer') %></footer>

