
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.4s cubic-bezier(0,1.57,0.67,1.18);
    
}

.body{
    background: #383838;
}
.box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
}
.box{
    flex:1 1 300px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
    margin: 20px;
    border-radius: 8px;
}
.box .image{
padding: 10px;
background: #fff;
text-align: center;
border-radius: 5px;
}
.box .image img{
    height: 200px;
     width: 250px;
     object-fit: cover;
     filter: drop-shadow(0 3px 5px rgba(0,0,0,0,7));
     border-radius: 5px;
}
.box .info .title{
    padding: 10px;
    color: #666;
    font-size: 20px;
}

.box .info .sub-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-top: 1px solid rgba(0,0,0,0.3);
}

.box .info .sub-info .price{
    color: #ff3300;
    font-size: 20px;
}
.box .info .sub-info .price span{
    font-size: 20px;
    color: #999;
    text-decoration: line-through;
}
.box .info .sub-info .stars i{
    color: orange;
    font-size: 17px;
}

.box .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 223px;
    width: 100%;
    background: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none;
    transform: scale(0);
}
.box:hover .overlay{
    transform:scale(1) ;
}



.box .overlay a{
    color: #666;
    background: #fff;
    margin: 10px;
    padding: 13px 15px;
    font-size: 25px;
    transform: translatey(-150px);
    transition-property:transform;
    transition-delay: calc(.1s * var(--i));
}
.box .overlay a:hover{
    color:orange;
}
.box:hover .overlay a{
    transform: translatey(0px);
}
