<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/links') %>
</head>
<body>
    <%- include('../partials/nav') %>
    
    <section>
        <%- include('../partials/index') %>
    </section>
    <footer >
        <%- include('../partials/footer') %>
  </footer>

 </body>

</html>