
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../inicio/">Inicio  </a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/products/detailsproduct">Relojes Destacados  </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/allProducts">Venta Relojes </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/nosotros">Nosotros </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/addProduct">Add Reloj </a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/contactenos">Contactenos  </a> 
      </li>
    </ul>
  </nav> 




  <!--
  <header class="header" id="inicio">
    <img src="/img/hamburguesa.svg" alt="" class="hamburguer">
    <nav class="menu-navegacion">
        <a href="#inicio">Inicio</a>
        <a href="#servicio">Servicio</a>
        <a href="#portafolio">Portafolio</a>
        <a href="#experto">Expertos</a>
        <a href="#contacto">Contacto</a>
    </nav>
    <div class="contenedor head">
        <h1 class="title">Convertimos tus sueños en realidad</h1>
        <p class="copy">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
    </div>
</header>
-->

